.region {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 8px;
  .header {
    font-weight: bold;
    text-decoration: underline;
  }
}

.controlspanel {
  margin-top: 3px;
  margin-bottom: 10px;
  .description {
    width: 200px;
  }
}

.title {
  font-weight: bold;
  background-color: #3498fd;
  color: white;
  margin-top: 0px;
}

.status {
  padding: 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 32px;
}

textarea {
  width: 300px;
  height: 150px;
}

body {
  overflow: hidden; /* prevents scrollbars */
}