.region {
    margin: 10px;
    .header {
      font-weight: bold;
      text-decoration: underline;
      margin-top: 10px;
    }
}

.controlspanel {
  text-align: right;
}

textarea {
  width: 300px;
  height: 150px;
}

body {
  overflow: hidden; /* prevents scrollbars */
}